.section-viewport-h{
	height: $vh-anchor;
}
// Buttons
.button-ms{
	padding: $global-padding;
	font-size: $font-btn; 
	&-primary{
		background:$jumbogreenlight;
		color:$white;
		&-line{
			border:1px solid $jumbogreenlight;
			color:$jumbogreenlight;
		}
	}
	&-warning{
		background:$jumboorange;
		color:$white;
		&-line{
			border:1px solid $jumboorange;
			color:$jumboorange;
		}
	}
}
.bg-banner{
	position:relative;
	img.bg-img {
		object-fit:cover;
		position: absolute;
		right:0;
		left:0;
		top:0;
		z-index: -1;
	}
}