.section-viewport-h{
	@media #{$medium-up}{
		min-height: $vh-anchor - 10vh;
	}
}
// Buttons
.button-ms{
	padding: $global-padding/3 $global-padding;
	font-size: $font-btn;
	border-radius: $global-radius;
	transition:$global-subtransition;
	&-primary{@include buttons-bg($jumbogreenlight);}
	&-warning{@include buttons-bg($jumboorange);}
	&-green{@include buttons-bg($jumbogreenyellow);}
}
.bg-banner{
	position:relative;
	overflow: hidden;
	padding-top:0; 
	img.bg-img {
		transition:$global-transition;
		transform:rotate(90deg)scale(6);
		object-fit:cover;
		@media #{$medium-up}{
			transform:rotate(0)scale(1);
			height: 100vh;
			object-fit:cover;
			}
		object-position: right;
		position: absolute;
		right:0;
		left:0;
		top:0;
		bottom:0;
		z-index: -1;
	}
	img.logo-mundo-saludable{
		max-width: 320px;
	}
}
.card-ms{
	@include cards-bg($global-padding);
	&-button{
		margin-top:$global-margin;
		@media #{$medium-up}{
		margin-top:inherit;
		transition:$global-subtransition;
		&:hover{
				transform:translateY(-($global-padding/3));
			}
		}
		&-1{
			@include border-gradient-left($gutter/3, $jumbogreenyellow, $jumbogreen);
			@include fix-height-filter;
			@media #{$medium-up}{
				@include border-gradient-left(0, $jumbogreenyellow, $jumbogreen);
				@include border-gradient-bottom($gutter/3, $jumbogreenyellow, $jumbogreen);
				}
			}
		&-2{
			@include border-gradient-left($gutter/3, $white, $icon-yellow);
			@include fix-height-filter;
			@media #{$medium-up}{
				@include border-gradient-left(0, $white, $icon-yellow);
				@include border-gradient-bottom($gutter/3, $white, $icon-yellow);
				}
		}
		&-3{
			@include border-gradient-left($gutter/3, $jumbogreenyellow, $icon-bluelight);
			@include fix-height-filter;
			@media #{$medium-up}{
				@include border-gradient-left(0, $jumbogreenyellow, $icon-bluelight);
				@include border-gradient-bottom($gutter/3, $jumbogreenyellow, $icon-bluelight);
				}
		}
	}
}
.container-card-article{
	display:grid;
	grid-column-gap:$gutter;
}
.card-article-ms{
	max-width:284px;
	position:relative;
	margin:$global-margin $global-margin/2;
	padding:0;
	align-self: stretch;
	transition:$global-transition;
	overflow: hidden;
	&:hover{
		@media #{$medium-up}{
		border-radius:$global-radius*3;
		transform:translateY(-($global-margin));
		}
		.card-img-ms{
		}
	}
}
.card-img-ms{
	position: relative;
	@include gradient-3;
	.card-label-filter-ms{
		position:absolute;
		writing-mode: vertical-lr;
		background: $white;
		padding: $global-padding $global-padding/5;
		color: $gray;
		font-weight: $font-bold;
		transform: rotate(180deg);
		font-size:80%;
		height: 100%
	}
}
.card-text-ms{
	padding: $global-padding;
	h6{
		word-wrap: break-word;
	}
	p{
		margin-top: $global-margin;
		padding-bottom:$global-padding*3;
	}
}
.card-interaction-ms{
	position: absolute;
	display: flex;
	width: $total-anchor;
	bottom: $global-padding;
	color:$jumbogreen;
	justify-content: space-between;
	margin-left: -($global-margin);
    padding-left: $global-padding;
    padding-right: $global-padding;
	font-style: initial;
}