.section-viewport-h{
	@media #{$medium-up}{
		min-height: $vh-anchor - 10vh;
	}
}
// Buttons
.button-ms{
	padding: $global-padding/3 $global-padding;
	font-size: $font-btn;
	border-radius: $global-radius;
	transition:$global-subtransition;
	&-primary{@include buttons-bg($jumbogreenlight);}
	&-warning{@include buttons-bg($jumboorange);}
	&-green{@include buttons-bg($jumbogreenyellow);}
}
.bg-banner{
	position:relative;
	overflow: hidden;
	padding-top:0; 
	img.bg-img {
		transition:$global-transition;
		transform:rotate(90deg)scale(6);
		object-fit:cover;
		@media #{$medium-up}{
			transform:rotate(0)scale(1);
			height: 100vh;
			object-fit:cover;
			}
		object-position: right;
		position: absolute;
		right:0;
		left:0;
		top:0;
		bottom:0;
		z-index: -1;
	}
	img.logo-mundo-saludable{
		max-width: 320px;
	}
}
// Video
.video-ms {
	margin-top:$global-margin;
	margin-right:auto;
	margin-left:auto;
	max-width: $total-anchor * .5;
	position: relative;
	padding-bottom: 56.25% * .5; /* 16:9 */
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.card-ms{
	@include cards-bg($global-padding);
	&-button{
		margin-top:$global-margin;
		@media #{$medium-up}{
		margin-top:inherit;
		transition:$global-subtransition;
		&:hover{
				transform:translateY(-($global-padding/3));
			}
		}
		&-1{
			@include border-gradient-left($gutter/3, $jumbogreenyellow, $jumbogreen);
			@include fix-height-filter;
			@media #{$medium-up}{
				@include border-gradient-left(0, $jumbogreenyellow, $jumbogreen);
				@include border-gradient-bottom($gutter/3, $jumbogreenyellow, $jumbogreen);
				}
			}
		&-2{
			@include border-gradient-left($gutter/3, $white, $icon-yellow);
			@include fix-height-filter;
			@media #{$medium-up}{
				@include border-gradient-left(0, $white, $icon-yellow);
				@include border-gradient-bottom($gutter/3, $white, $icon-yellow);
				}
		}
		&-3{
			@include border-gradient-left($gutter/3, $jumbogreenyellow, $icon-bluelight);
			@include fix-height-filter;
			@media #{$medium-up}{
				@include border-gradient-left(0, $jumbogreenyellow, $icon-bluelight);
				@include border-gradient-bottom($gutter/3, $jumbogreenyellow, $icon-bluelight);
				}
		}
	}
}
.category-ms{
	.card-article-ms{
		@media #{$medium-up}{
			max-width:23%;
			min-height: 474px;
		}
	}
}
.container-card-article{
	display:grid;
	grid-column-gap:$gutter;
}
.card-article-ms{
	position:relative;
	margin:$global-margin $global-margin/2;
	padding:0;
	align-self: stretch;
	transition:$global-transition;
	overflow: hidden;
	&:hover{
		@media #{$medium-up}{
		border-radius:$global-radius*3;
		transform:translateY(-($global-margin));
		}
		.card-img-ms{
		}
	}
}
.card-img-ms{
	position: relative;
	@include gradient-3;
	.card-label-filter-ms{
		position:absolute;
		writing-mode: vertical-lr;
		white-space: nowrap;
		width: $gutter+5;
		text-transform: uppercase;
		text-overflow: ellipsis;
		overflow: hidden;
		background: rgba($white,.7);
		padding: $global-padding $global-padding/5;
		color: $gray;
		font-weight: $font-bold;
		transform: rotate(180deg);
		font-size:80%;
		height: 100%;
	}
}
.card-text-ms{
	padding: $global-padding;
	h6{
		word-wrap: break-word;
	}
	p{
		margin-top: $global-margin;
		padding-bottom:$global-padding*3;
	}
}
.card-interaction-ms{
	position: absolute;
	display: flex;
	width: $total-anchor;
	bottom: $global-padding;
	color:$jumbogreen;
	justify-content: space-between;
	margin-left: -($global-margin);
    padding-left: $global-padding;
    padding-right: $global-padding;
	font-style: initial;
}
// Articles
.article-ms{
	.article-banner{
		position: relative;
		.banner-article-info {
			width: $total-anchor;
			display: block;
			position: absolute;
			background: rgba($white,.5);
			bottom: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			@media #{$medium-up}{
				max-width: $global-anchor;
				display: flex;
				padding: $global-padding/2 $global-padding;
			}
			padding: $global-padding $global-padding;
			justify-content: space-between;
			.tags-article-info{
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			.media-article-info{
				display:flex;
				align-items: center;
				justify-content: space-between;
				margin-top: $global-margin;
				@media #{$medium-up}{
					margin-top: initial;
				}
				.views-article{
					margin-right:$global-margin;
					margin-left:$global-margin;
					transform: scale(1.2);
					@media #{$medium-up}{
					transform: scale(1);
					}
				}
				.social-media{
					display: flex;
					@media #{$medium-up}{
						margin-right:$global-margin;
					}
					a{
						display: flex;
					}
					i{
						margin: 0;
						@media #{$medium-up}{
							width:$gutter;
							height: $gutter;
						}
					}
				}
			}
		}
	}
}
.slug-article {
	padding: $global-padding/3 $global-padding;
	margin: $global-margin/3 $global-margin/3;
	border-radius: $global-radius;
	box-shadow:$global-shadow;
	font-size: 80%;
}
.article-content{
	padding: $global-padding;
	margin-top: $global-margin;
	margin-bottom: $global-margin;
	@media #{$medium-up}{
		max-width: $total-anchor * .7;
		border-right:1px solid $graylight;
		border-left:1px solid $graylight;
	}
	img{
		width: $total-anchor;
		margin: $global-margin auto;
		display: inline-block;
		@media #{$medium-up}{
		margin: $global-margin/2;
		width: auto;
		}
	}
	p {
		margin-top: $global-margin;
	}
	a{
		    display: inline-block;
		    color:$jumbogreenlight;
		    font-weight: $font-regular;
	}
}