.container-main{
	max-width: $global-anchor;
	@media #{$medium-up}{
		width: $total-anchor * .94;
	}
	@include center-auto;
	&-full{
		max-width: $total-anchor;
	}
}
.main-grid{
	display: grid;
	grid-column-gap:$global-margin;
	padding:{
		left:$global-padding;
		right:$global-padding;
		top:$global-padding;
	};
	&-center{
		justify-items:center;
	}
	&-middle{
		align-items:center;
	}
	&-equal{
		align-items: stretch;
	}
	&-1{grid-template-columns:1fr;}
	&-2{grid-template-columns:1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr;}
	}
	&-3{grid-template-columns:1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr;}
	}
	&-4{grid-template-columns:1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr 1fr;}
	}
	&-5{grid-template-columns:1fr 1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr 1fr 1fr;}
	}
	&-6{grid-template-columns:1fr 1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;}
	}
}
.container-promo{
	display: block;
	@media #{$medium-up}{
		display: grid;
	}
}
.card-promo{
	width: 100%;
	position: relative;
	margin-top:$global-margin;
	border-radius: $global-radius;
	transition:$global-subtransition;
	@media #{$medium-up}{
		opacity:.9;
		margin:$global-padding;
		max-width: 315px;
		justify-self: center;
		&::after{
			opacity: 0;
			content:url('/arquivos/rama-ms-l-tiendas-jumbo.png');
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

		}
		&::before{
			opacity: 0;
			content:url('/arquivos/rama-ms-r-tiendas-jumbo.png');
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;

		}
		&:hover{
			transform:scale(1.1) translateY(-($gutter))rotate(.2deg);
			opacity:1;
			&:after{
				transition:$global-transition;
				opacity:1;
				transform:translate(-53px, $gutter*4)scale(.5);
			}
			&:before{
				transition:$global-transition;
				opacity:1;
				transform:translate(59px, 70px)scale(.5);
			}
		}
	}
	h2{
		line-height: 1;
	}
	p{
		word-wrap:break-word;
		margin-top:$global-margin;
	}
}
.social-container{
	margin:$global-margin auto;
	min-height: 200px;
	@media #{$medium-up}{
	max-width:$total-anchor * .60; 
	min-height: auto;
	}
	h3{
		transition:$global-subtransition;
		font-weight: 100;
		opacity: .8;
		&:hover{
			opacity: 1;
			transform:translateY(-($global-padding/3));
		}
	}
}
main.catagory-ms{
	width: 1366px;
	max-width: 94%;
	display: grid;
	grid-template-columns:2fr 6fr;
	.container-category-ms{
		.container-card-article{
			@media #{$medium-up}{
			grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}