.container-main{
	max-width: $global-anchor;
	@media #{$medium-up}{
		width: $total-anchor * .94;
	}
	@include center-auto;
	&-full{
		max-width: $total-anchor;
	}
}
.main-grid{
	display: grid;
	grid-column-gap:$global-margin;
	padding:{
		left:$global-padding;
		right:$global-padding;
		top:$global-padding;
	};
	&-center{
		justify-items:center;
	}
	&-middle{
		align-items:center;
	}
	&-equal{
		align-items: stretch;
	}
	&-1{grid-template-columns:1fr;}
	&-2{grid-template-columns:1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr;}
	}
	&-3{grid-template-columns:1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr;}
	}
	&-4{grid-template-columns:1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr 1fr;}
	}
	&-5{grid-template-columns:1fr 1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr 1fr 1fr;}
	}
	&-6{grid-template-columns:1fr 1fr;
		@media #{$medium-up}{grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;}
	}
}