main{
    max-width: 1920px;
    *::selection { 
        color: $white; 
        background:$jumbogreendark;
    }
    @include center-auto;
    img{
        width: $total-anchor;
        @include center-auto;
    }
    .title-site-ms{
        font-size: 0;
    }
}