.main-form{
	position:relative;
	input{
		&.jumbored{
			@include forms-input($jumbored);}
		&.jumboorange{
			@include forms-input($jumboorange);}
		&.jumbogreenyellow{
			@include forms-input($jumbogreenyellow);}
		&.jumbogreenlight{
			@include forms-input($jumbogreenlight);}
		&.jumbogreen{
			@include forms-input($jumbogreen);}
		&.jumbogreendark{
			@include forms-input($jumbogreendark);}
		&.white{
			@include forms-input($white);}
		&.black{
			@include forms-input($black);}
		&.dark{
			@include forms-input($dark);}
		&.gray{
			@include forms-input($gray);}
		&.graylight{
			@include forms-input($graylight);}
	}
	.messagepoppup{
		width:$total-anchor;
		margin-top:$global-margin;
		border-radius: $gutter/3;
		padding: $global-padding/3;
	}
}
.form-newsletter{
	margin-top:$global-margin;
	@media #{$medium-up}{
	margin-top:$global-margin;
	display: grid;
	position: relative;
	transition:$global-transition;
	}
	&::after{
		@include form-flowers;
		right: -30px;
		transform:rotate(180deg);
	}
	&::before{
		@include form-flowers;
		left: -30px;
	}
	&:hover{
		&::after,&::before{
				opacity:.8;
		}
	}
	.text-label{
		text-align: center;
	}
}
.newsletter-ms{
	justify-content: center;
	margin-top:$global-margin;
	@media #{$medium-up}{
		margin-top:0;
		margin-left: $global-margin;
		margin-right: $global-margin;
	}
	>input{
		min-width:$total-anchor;
		padding-top:$global-padding/3;
		padding-bottom:$global-padding/3;
	}
	>button{
		margin-top:$global-margin;
	}
	.filter-diet{
		margin-top: $global-margin;
		select{
			background:transparent;
			border:1px solid $jumbogreenyellow;
			padding: $global-padding /3 $global-padding;
			margin-top: $global-margin;
			color:$jumbogreenyellow;
			text-align: center;
		}
	}
}
.legal-check{
	display:flex;
	margin-top: $global-margin;
	a{
		margin-left:$global-margin / 2;
		color:$gray;
		&:hover{
			text-decoration: underline;
		}
	}
}
#terms-conditions-ms{
		max-width: $total-anchor * .94;
	.container{
	}
}
.container-card-form-bottom{
	&::before{
		@media #{$medium-up}{
			position: relative;
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			max-height: 168px;
			margin: auto;
			background:linear-gradient(to right, $jumbogreenyellow 0%,$icon-bluelight 100%);

		}
	}
}
.card-form-bottom{
	@media #{$medium-up}{
		max-width: 436px;
		min-height: 228px;
		display:flex;
		flex-direction: column;
		position: relative;
		justify-content: center;
		@include center-auto;
	}
	h3{
		@media #{$medium-up}{
		align-self:center;
		display: block;
		width:$total-anchor;
		}
	}
	a{
		@media #{$medium-up}{
		align-self:center;
		display: block;
		width:$total-anchor;
	}
		margin-top:$global-margin;
	}
}