.main-form{
	position:relative;
	input{
		&.jumbored{
			@include forms-input($jumbored);}
		&.jumboorange{
			@include forms-input($jumboorange);}
		&.jumbogreenyellow{
			@include forms-input($jumbogreenyellow);}
		&.jumbogreenlight{
			@include forms-input($jumbogreenlight);}
		&.jumbogreen{
			@include forms-input($jumbogreen);}
		&.jumbogreendark{
			@include forms-input($jumbogreendark);}
		&.white{
			@include forms-input($white);}
		&.black{
			@include forms-input($black);}
		&.dark{
			@include forms-input($dark);}
		&.gray{
			@include forms-input($gray);}
		&.graylight{
			@include forms-input($graylight);}
	}
	span{
		position: absolute;
		top:$global-margin*2;
		padding: $global-padding/3;
	}
}
.form-newsletter{
	margin-top:$global-margin;
	@media #{$medium-up}{
	margin-top:$global-margin*4;
	display: grid;
	position: relative;
	transition:$global-transition;
	}
	&::after{
		@include form-flowers;
		right: -30px;
		transform:rotate(180deg);
	}
	&::before{
		@include form-flowers;
		left: -30px;
	}
	&:hover{
		&::after,&::before{
				opacity:.8;
		}
	}
	.text-label{
		text-align: center;
	}
}
.newsletter-ms{
	justify-content: center;
	margin-top:$global-margin;
	@media #{$medium-up}{
		margin: $global-margin;
	}
	>input{
		min-width:$total-anchor;
		padding-top:$global-padding;
		padding-bottom:$global-padding;
	}
	>button{
		margin-top:$global-margin;
	}
	.filter-diet{
		margin-top: $global-margin;
		select{
			background:transparent;
			border:1px solid $jumbogreenyellow;
			padding: $global-padding /3 $global-padding;
			margin-top: $global-margin;
			color:$jumbogreenyellow;
			text-align: center;
		}
	}
}
.legal-check{
	display:flex;
	margin-top: $global-margin;
	a{
		margin-left:$global-margin / 2;
		color:$gray;
		&:hover{
			text-decoration: underline;
		}
	}
}
#terms-conditions-ms{
		max-width: $total-anchor * .94;
	.container{
	}
}