@mixin family-header {
  	.h1,.h2,.h3,.h4,.h5,.h6,{
		font-family:$family-headers;
		margin:15px 0!important;
	}
}
@mixin color-header {
  	.h1,.h2,.h3,.h4,.h5,.h6,.title,.subtitle{
		color:$white;
	}
}
@mixin link-color {
  	a{
		color:$white;
		&:hover{
			color:$black;
		}
	}
}
@mixin text-brown {
	transition:	$transition-hover-link;
	color:$brown;
  	.h1,.h2,.h3,.h4,.h5,.h6,.title,.subtitle,.nav-item{
		color:$brown;
	}
  	a{
		color:$brown;
		&:hover{
			color:$black;
		}
	}
}
@mixin hover-translate {
		-webkit-box-shadow: $shadow-transition;
		box-shadow: $shadow-transition;
		-webkit-transform:$translate-animation-y;
		-ms-transform:$translate-animation-y;
		-o-transform:$translate-animation-y;
		transform:$translate-animation-y;
}
@mixin hover-translate-short {
		-webkit-box-shadow: $shadow-global;
		box-shadow: $shadow-global;
		-webkit-transform:$translate-animation-y-short;
		-ms-transform:$translate-animation-y-short;
		-o-transform:$translate-animation-y-short;
		transform:$translate-animation-y-short;
}
// imagenes con sombra(png)
@mixin shadow-alpha-image{
	-webkit-filter: drop-shadow($alpha-image-shadow);
	-o-filter: drop-shadow($alpha-image-shadow);
	filter: drop-shadow($alpha-image-shadow);
}
	// direccion de texto

@mixin vertical-lr{
		-webkit-writing-mode: vertical-lr;
		-moz-writing-mode: vertical-lr;
		-ms-writing-mode: vertical-lr;
		-o-writing-mode: vertical-lr;
		writing-mode: vertical-lr;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
}

@mixin vertical-rl{
		-webkit-writing-mode: vertical-rl;
		-moz-writing-mode: vertical-rl;
		-ms-writing-mode: vertical-rl;
		-o-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
}
@mixin horzontal-text{
		-webkit-writing-mode: initial!important;
		-moz-writing-mode: initial!important;
		-ms-writing-mode: initial!important;
		-o-writing-mode: initial!important;
		writing-mode: initial!important;
		-webkit-transform: rotate(0deg)!important;
		-moz-transform: rotate(0deg)!important;
		-ms-transform: rotate(0deg)!important;
		-o-transform: rotate(0deg)!important;
		transform: rotate(0deg)!important;
}
@mixin outline-size{
	outline-offset: $size-7;
}
@mixin inner-size{
	outline-offset: -$size-7;
}
@mixin circle-color{
	$chartColorsLength: length($chartColors);
	@for $c from 1 through $chartColorsLength {
		.color-full:nth-of-type(#{$chartColorsLength}n+#{$c}) {
				padding: 1vw;
			.round-button {
				width:100%;
				&-circle {
					width: 100%;
					height:0;
					padding-bottom: 89%;
					border-radius: 50%;
					border:5px solid nth($chartColors, $c);
					overflow:hidden;
					background:$white;
					position: relative;
					transition:$short-time-ease-out;
					&:hover{
						background: nth($chartColors, $c);
						border-color: $white;
						@include hover-translate;
						a{
							color:$white;
						}
					}
				}
				a {
					display: inline-block;
					width: 100%;
					padding-top: $middle-padding-radio;
					padding-bottom: $middle-padding-radio;
					text-align: center;
					margin-top: -.5rem;
					position: absolute;
					left: 0;
					font-weight: $weight-bold;
					line-height: 1;
				}
			}
		}//.round-button-circle
	}
}
@mixin color-social{
	$chartColors-socialLength: length($chartColors-social);
	@for $s from 1 through $chartColors-socialLength {
		a:nth-of-type(#{$chartColors-socialLength}n+#{$s}) {
					background: nth($chartColors-social, $s);
					color:$white!important;
		}
		a{
			border-radius: 50%;
			padding: 0!important;
			height: 22px;
			margin: 3px;
			transition:$transition-hover-link;
			&:hover{
				-webkit-filter: drop-shadow($alpha-image-shadow);
				-o-filter: drop-shadow($alpha-image-shadow);
				filter: drop-shadow($alpha-image-shadow);
			}
			i{
				font-size:$body-size!important;
			}
		}
	}
}