.is-fixed-top{
	position: sticky;;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0 auto;
	z-index: 999999;
}
// top bar
.top-nav{
	height: auto!important;
	i{
		padding:0 5px;
		font-size:$body-size;
	}
	.nav{
		&-menu{

		}
		&-item{
			line-height:1;
			font-size:.9rem;
			padding: 0 .5vw;
		}
	}
	.setting-toggle{
			max-height: 30px;
			min-height: 30px!important;
			-webkit-box-align: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
			display: flex;
			width: 100%;
			border-bottom:1px solid $yellow;
	}
}
//megamenu
.mega{
	position: absolute!important;
	top: 30px;
	left: 0;
	right: 0;
	padding:1%;
	max-width: 1080px!important;
	height:initial!important;
	max-height:initial!important;
	z-index:-1;
	width:100%;
	margin:0 auto;
	display:none;
	&-menu{
		&-banner{
			float: right;
		}
	}
	&-footer{
		padding:1%;
		position: relative;
		&-menu{
			&-banner{
				float: right;
			}
		}
	}
.vertical {
	li {
		a {
		    text-align: left;
			}
		}
	}
}
.nav-item:nth-of-type(1):hover ~ .mega:nth-of-type(1){
    display:block!important;
}
.nav-item:nth-of-type(2):hover ~ .mega:nth-of-type(2){
    display:block!important;
}
.nav-item:nth-of-type(3):hover ~ .mega:nth-of-type(3){
    display:block!important;
}
.nav-item:nth-of-type(4):hover ~ .mega:nth-of-type(4){
    display:block!important;
}
.nav-item:nth-of-type(5):hover ~ .mega:nth-of-type(5){
    display:block!important;
}
.nav-item:nth-of-type(6):hover ~ .mega:nth-of-type(6){
    display:block!important;
}
.nav-item:nth-of-type(7):hover ~ .mega:nth-of-type(7){
    display:block!important;
}
.nav-item:nth-of-type(8):hover ~ .mega:nth-of-type(8){
    display:block!important;
}
.nav-item:nth-of-type(9):hover ~ .mega:nth-of-type(9){
    display:block!important;
}
.nav-item:nth-of-type(10):hover ~ .mega:nth-of-type(10){
    display:block!important;
}
.nav-item:nth-of-type(11):hover ~ .mega:nth-of-type(11){
    display:block!important;
}
	.logo{
			padding:0;
			margin:0;
			position: absolute;
			z-index: 999999;
			top: -70px;
		img{
			top: 22px;
	    	position: absolute;
	    	max-width: 104px;
	    	@media (max-width: 880px) {
	    		display:none!important;
	    	}
		}
	}
	.logo-horizontal img {
	    top: 43px;
	    max-width: 200px;
	}

.logo-scroll{
		padding:0;
		margin:0;
		img{
			top: 39px;
	    	position:absolute;
	    	max-width: 200px;
	    	@media (max-width: 880px) {
	    		display:none!important;
	    	}
		}
}
.dropdown{
	margin-right: 2%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.5;
	padding: .5rem .75rem;
	justify-content: center;
	li{
		cursor:pointer;
	}
}
.toogle-dropdown {
    position: absolute;
    right: 2%;
    display:none;
    padding: 15px;
    background: white;
    -webkit-box-shadow: $shadow-global;
	box-shadow: $shadow-global;
	z-index: 9999999;
}
.active-nav{
	display:block!important;
}
.max-height{
	max-height: 30px;
	.container {
	    max-height: 30px!important;
	    min-height: 30px!important;
	    height: 30px;
	}
}