.is-fixed-top{
    position: fixed!important;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 9;
    height: 1px;
}
// top bar
.top-nav{
	height: auto!important;
	z-index: 11!important;
	i{
		padding:0 5px;
	}
	.nav{
		&-menu{

		}
		&-item{
			line-height:1;
			font-size:.9rem;
			padding: 0 .5vw;
		}
	}
	.setting-toggle{
			max-height: 30px;
			min-height: 30px!important;
			-webkit-box-align: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
			display: flex;
			width: 100%;
			border-bottom:1px solid $yellow;
	}
}
//megamenu
.mega{
	padding:1%;
	position: relative;
	z-index: 99;
	&-menu{
		&-banner{
			float: right;
		}
	}
	&-footer{
		padding:1%;
		position: relative;
		&-menu{
			&-banner{
				float: right;
			}
		}
	}
}

	.logo{
			padding:0;
			margin:0;
		img{
			top: 30px;
	    	position: absolute;
	    	max-width: 104px;
	    	@media (max-width: 880px) {
	    		display:none!important;
	    	}
		}
	}


.logo-scroll{
		padding:0;
		margin:0;
		img{
			top: 39px;
	    	position:absolute;
	    	max-width: 200px;
	    	@media (max-width: 880px) {
	    		display:none!important;
	    	}
		}
}
.dropdown{
	margin-right: 2%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.5;
	padding: .5rem .75rem;
	justify-content: center;
	li{
		cursor:pointer;
	}
}
.toogle-dropdown {
    position: absolute;
    right: 2%;
    display:none;
    padding: 15px;
    background: white;
    -webkit-box-shadow: $shadow-global;
	box-shadow: $shadow-global;
}