@media screen and (max-width: $tablet) {
	.is-fixed-top{
		position:relative!important;
	}
	.title{
		font-size: $size-5!important;
	}
	.top-bar-mobile-fixed {
	    position: absolute!important;
	    top: 40px!important;
	    background: $white!important;
	    height: auto!important;
	}

	.navigator-container{
		box-shadow:$shadow-global;
		padding: 20px;
		>div {
	    display: block!important;
	    margin: 12px!important;	    
	}
	}
	.mega{
		padding: 15px 0;
		position: initial!important;
		width:100%;
		
		&-menu{
			display: inline-block;
			.column{
				padding:0!important;
				width:100vw;
			}
		}
	}
	ul.toogle-dropdown {
	    position: initial;
	    margin: 0;
	}
	.nav>.container{
		display:block!important;
	}
	.top-bar-mobile-fixed{
		position: fixed;
		display: block;
		width: 100vw;
		top: 0;
	}
	.navbar.bg-red {
	    background: $bg-global-body!important;
	    .navigation{
	    	border: 12px solid $white;
   		 	background: $blue;
    		outline: 1px solid $blue;
    		display: inline-block;
    		float: left;
    		span{
    			background:$white;
    		}
	    }
	}
	div#mm-megamenu{
		   width: 100%;
		   display: none;
		   	li.item-dropdown {
		       display: none;
		   	}
		 >ul{
		 	>li{
		 		>a{
		 			position:relative;
		 			text-align: left;
					width: 100%;
		 			border: 0;
		 			padding-right:10px!important;
		 			padding-left:10px!important;
		 			font-size: 1rem!important;
		 			font-weight: lighter;
		 		}
		 	}
		 }
		 >ul.nav-item {
		   padding: 0!important;
			 display: block;
		   width: 100%;
		   background: $blue;
		   position:relative;
		   &::after{
		   	content: '+';
		   	font-size: 1.5rem;
		   	line-height: 0;
		   	color: $white;
		   	position: absolute;
		   	top: 5px;
		   	right: 30px;
		   	padding: 10px 5px;
		   	border: 1px solid $white;
		   	margin: 5px 0 5px 5px;
		   	border-radius:5px;
		   	z-index:1;
		   	&:hover
		   		{
		   			background:$white;
		   			color:$blue;
		   			z-index:2;
		   		}
		   	}
		}
		.active{
			display:block;
			&::after{
				content:'—'!important;
				font-size: 1.1rem!important;
				background:$white;
				color:$blue!important;
				line-height: 0;
				position: absolute;
				top: 5px;
				right: 30px;
				padding: 10px 5px;
				border: 1px solid $white;
				margin: 5px 0 5px 5px;
				border-radius:5px;
				z-index:2;
			}
				
			>li{
				>a{
					background:#61cbe9;
					
				}
			}
			>li{

			}

			+ ul{
				.item-dropdown{
								display:block!important;
							}
			}

			&:nth-of-type(8),
			&:nth-of-type(9),
			&:nth-of-type(10){
					>li{
						.nav-item{
							background:$blue;
						}
					}
			}
		}
		li.vertical, li.vertical a {
		    font-weight: lighter;
		}
		ul:nth-of-type(1),
		ul:nth-of-type(2),
		ul:nth-of-type(3),
		ul:nth-of-type(4),
		ul:nth-of-type(5),
		ul:nth-of-type(6),
		ul:nth-of-type(7),
		ul:nth-of-type(8),
		ul:nth-of-type(9),
		ul:nth-of-type(10){

			>li{
				>a{
					color:$white!important;
				}
			}
			.mega{
				left: 0!important;
				 width: 100vw!important;
				 padding: 0;
				 &-menu{
				 	margin:0;
				 }
			}
		}
		ul:nth-of-type(8),
		ul:nth-of-type(9),
		ul:nth-of-type(10){
			&:after{
				opacity:0;
			}
		}
		ul:first-child,ul:last-child{
			margin:auto 0;
		}
		ul:first-child{
			.mega{
						left:0px!important;
				    width: 100vw!important;
			}
		}
		ul{
			.mega{
						left:0px!important;
				    width: 100vw!important;
			}
		}
		.vertical{
			padding:auto 5px!important;
			border:0;
			background:#62e8fe;
			&-item{
				display:none;
			}
		}
		.shadow{
			box-shadow: none!important;
		}
	

	}//#mega-menu
	.nav-logo{
	    display: inline-block!important;
	    height: auto;
	    min-width: 170px;
	    bottom: 0;
	    position: relative;
	    float: left;
	}
	.nav-logo > .logo-phone img {
	    display: inline-block!important;
	    height: auto;
	    width:100%;
	    min-width:100%;
	    bottom: 0;
	    top: 0;
	    left: 0;
	    margin: 4px auto;
	}

	.logo-phone {
		display: inline-block;
		position: initial!important;
	}
	.portal-totalizers-ref {
	    width: 30px;
	    height: 30px;
	    position: initial;
	    float: left;
	    display: inline-block;
			margin-left: 15px;
	}
	.carrito {
	    margin-top: 8px!important;
	    float: right;
    margin-right: 58px;
	}
	.settings-nav {
	    position: absolute!important;
	    right: 0;
	    top: 0;
	    color: $grey;
			padding: 11px 0px 11px 11px;
	}
	.outset-border-red {
	    outline:0;
	    outline-offset:0;
	}
	footer{
	>div{
		>h2{
			&::after {
				    content: '▼';
				    font-size: 1rem;
				    transform: rotate(45deg);
				    font-family:sans-serif;
				    margin-left:10px;
				}
		}
	}
	.help-phone-footer {
		.icon-callout {
			i {
						    font-size: 0;
						}
		}
	}
		.icon-brand{
			max-width:90%;
			box-shadow:$shadow-global;
			margin:0 auto;
			cursor:pointer;
			border-radius: 290486px;
			&::before, &::after{
				display:none;
			}
		}
	}
		.color-full{
				padding:0;
			.round-button {
				width:100%;
				&-circle {
					width: 100%;
					height:initial!important;
					padding-bottom:0!important;
					border-radius: 0!important;
					padding-top: 5px;
					overflow:hidden;
					background:$white;
					position: initial!important;
					&:hover{
						border-color: $white;
						a{
							color:$white;
						}
					}
				}
				a {
					display: inline-block;
					width: 100%;
					padding-top:5px!important;
					padding-bottom:5px!important;
					text-align: center;
					margin-top:0!important;
					position: initial!important;
					left: 0;
					font-weight: $weight-bold;
					line-height: 1;
					-webkit-transform: $translate-null;
				}
			}
		}//.round-button-circle
		.toggle-age{
			display:none;
			padding: 15px;
		}
		.seal-home {
			.level-item {
				width: 33.3%!important;
				margin: 5px 0!important;
				padding:0;
				a{
					img{
						text-align: center;
						width: 80%;
    				margin: 0 10%!important;
					}
				}
				p {
					padding: 3px;
					text-align: center;
					margin-top:5px;
					b {
						font-size: .8rem!important;
					}
				}
				p,a{
					display:block;
				}
			}
		}
		figure.banner-section{
			margin:15px 0!important;
		}
		.home {
			.lo-mas-vendido {
				.department-shelf{
					h2{
						margin:0 auto!important;
						&::after,&::before{
						opacity:0;
						}
					}
				}
			}
		 .catagory-shelf,.section-content-home  {
		 	h2{
		 		margin:0 auto!important;
						&::after,&::before{
						opacity:0;
						}
					}
		 }
	.bx-wrapper:hover 
		{
			a.bx-next,
			a.bx-prev {
			    opacity: 0;
			}
		}
.bx-viewport {
		     padding: 5px;
		 }
		}
		.banner-contenido-home{
			img{
				transform:none;
			}
		} 

		// newsletter-footer
		.newsletter{
			&-footer{
				position:relative;
				&::before{
					content:url('/arquivos/monkey-market-jugueteria-icon-newsletter.png');
					position:absolute;
					left:3%;
					top:-63px;
					max-width:5%;
				}
			}
			fieldset {
			    padding: 0;
			}
		}
		.newsletter-section{
			>.container{
						background:$yellow;
					}
		}
		// newsletter cloud
		.white{
			&-cloud{
				max-width: 70%;
				margin-left: 30%;
				font-size: 80%!important;
				-webkit-transform: translate(0,0)!important;
				-ms-transform: translate(0,0)!important;
				-o-transform: translate(0,0)!important;
				transform: translate(0,0)!important;
				.title{
					font-size: 1.2rem;
				}
			}
		}
		.social{
			&-circle{
				text-align:center;
			}
		}
		ul.inline-block{
			width: 100%;
			text-align: center;
			padding: 15px;
		}
		.vtex-seal{
			display: inline-block;
			width: 100%;
			float: none;
			text-align: center;
			a{
				width: 100%;
				text-align: center;
				display: inline-block;
				img{
					margin:0 auto;
					float:none;
				}
			}
		}
		// Vtex class for tags
		.newsletter {

			.newsletter-title,h3 {
			    display: none;
			}
			.newsletter-client-name,
			.newsletter-client-email{
				border-top: 0;
				border-bottom:0;
				border-left: 0;
				border-right: 0;
				background: none;
				width: 96vw;
				margin:2px 2vw;
				padding: 10px;
				background:$white
				;
			}
			.newsletter-button-ok {
		    width: 96vw;
		    margin:2px 2vw;
			}
		}
		// title category & department
		.titulo-sessao{
			background:$blue;
			padding: 20px;
			text-align: center;
			-webkit-box-shadow: $shadow-global;
			box-shadow: $shadow-global;

		}
		.catagory-shelf,.department-shelf {
			h2{
				    text-align: center;
				   	font-family: inherit!important;
				    font-weight: bold;
				    font-size: 1.5rem!important;
				    padding: 0 15px;
				    line-height: 1.2;
				  }
			ul {
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				max-width: 100%!important;
				li {
				   width: 47%;
				   min-width: 48%;
						border-radius: 0 0 30px 30px;
						margin: 10px 1%!important;
				   .product-image{
				   	  display: block;
		    			width: 100%;
				   }

					span.fast-view,.sku-id,.buy-async {
					    display: none;
					}
					.add-to-cart-async {
						position:relative;
						.wrapper-buy-button-asynchronous {
							position: initial!important;
							display: inline-block;
							width: 100%;
							a{
								background: url(/arquivos/monkey-market-tienda-icono-01.png) no-repeat center center;
								background-size: cover;
								height: 40px;
								width: 40px;
								left: 0;
								right: 0;
								top: -10vw;
								margin: 0 auto;
								border-radius: 0;
								color:rgba($white,0);
								position: absolute;
							}
						}
					}
					&:hover{
						background:$yellow;
						border-color:$yellow;
						box-shadow:$shadow-global;
						span.buy-async {
							border:1px solid $yellow;
							a{
								color:$black;
							}
						}
						.add-to-cart-async{
							transition:$medium-time-ease-out;
							.wrapper-buy-button-asynchronous{
								a{
							 		&::after{
							 		display:none;
							 	}
							  }		    		
							}

						}
					}
					.product-name {
								 height: 10vw;
								 text-align: center;
								 white-space: normal!important;
								 overflow: inherit!important;
								 padding: 0;
					}
						.best-price {
						    font-size: .9rem!important;
						    font-weight: 400!important;
					}
				}
			}
			ul:last-child{
				li{
				}
			}
		}
		.horizontal-lista,{
				ul {
					li {
					   max-width: 100vw!important;
							 }
					 }
					}
		.pager {

		    ul.pages {
		        li {
		            display: inline-block;
		            padding: 5px 5px;
		            margin: 0px 0;
		            background:white;
		            border-radius:29px;
		            font-weight:bold;
		        }
		    }
		}
					//producto
			.produto {
				.image-zoom-product {
				    max-width: 95%;
				    margin: 0 auto;
				}
				.name-product .productName {
									text-align:center;
							    font-family: inherit;
							    font-weight: bold;
							    font-size: 1.5rem;
							    padding: 0 15px;
							}
				.image-zoom-product{
					ul.thumbs{
						 li {
								max-width: 40px;
						}
					}
				}
				.data-sheet{
					position:initial;
					max-width: 100vw;
					.data-sheet-content{
						.avaliacoes{
							width:50%;
							display:inline-block;
							float: right;
							text-align:right;
							padding-right: 0;
							a{
								strong{
									display:none;
								}
							}
						}
						.cod{
							width:50%;
							display:inline-block;
							float: left;
							text-align: left;
						}
						.short-description{
							display:none;
						}
						.add-button{
							position:fixed;
							bottom: 0;
							left: 0;
							width:100vw;
							z-index:$z-index-9;
							margin: 0 auto;
							background:0;
							box-shadow:none;
							.column{
								padding:0;
							}
							a{
								width:100%;
								border-radius: 5px;
								border: 0;
								color: $white;
							}
						}
						.seals-mm{
							>.column {
							    padding: 0;
							}
							.level{
								.level-item{
									display: inline-block;
									width: 20%;
									margin: 0 6%;
								}
							}
						}
						.description-product {
						    position: initial;
						    max-width: 100vw;
						}
					}
				}
			}
			.social-icon {
			    width: 100%;
			    position: initial;
			    display: inline-block;
			    text-align:center;
			  	border-radius:0;
			  	margin-top:10px;
			     a.icon {
			        display: inline-block;
			        text-align: center;
			        margin: 0 5px;
			        i{
			        	padding:0;
			        	text-align:center;
			        }
			    }
			}
			.gift-list-btn{
				 a {
					    position: initial;
					    width: 100%;
					    writing-mode: inherit;
					    transform: rotate(0deg);
					    text-align: center;
					    width: 60%;
					    padding: 2px 0;
					    margin: 0 auto;
					    border-radius:290486px;
					    &::before {
					    		margin-right: 5px;
					        margin-bottom: 0px;
					        transform: rotate(0deg);
					        vertical-align: middle;
					    }
					}
			}
			.specification-section{
				display:inline-block;
				padding:15px 0;
				background:$white;
				margin-bottom:15px;
				.column{
					padding:0;
				}
				.specification-product {
				    max-width: 90%;
				    margin: 0 auto;
				    transition:$fast-time-ease-out;
				    // .Especificacion-de-Producto{
				    // 	&:hover {
				    // 		 ~ table.Especificacion-de-Producto {
				    // 				display: initial;
								// }
				    // 	}
				    // }
				    // .Dimensiones-de-Producto{
				    // 	&:hover {
				    // 		 ~ table.Dimensiones-de-Producto {
				    // 				display:initial
								// }
				    // 	}
				    // }
				    // .Detalles-de-Producto{
				    // 	&:hover {
				    // 		 ~ table.Detalles-de-Producto {
				    // 				display:initial
								// }
				    // 	}
				    // }
				    h4{
				    	background:$white;
				    	// border-radius:290486px;
				    	margin:5px auto;
				    }
				    table{
				    	// display:none;
				    }
				}
				.department-shelf {
				    display: none;
				}
			}
			.rates-vtex {
				.rating {
					.avaliacao{
						border-radius:0;
						.rating{
							display:inline-block;
							text-align:initial;
						}
					}
				}
			}
			//precio de producto
			.price-product{
				.valor-por.price-best-price {
				    font-size: $size-5;
				    font-style: initial;
				}
				.descricao-preco {
				    display: inline-block;
				    width: 100%;
				    .valor-de{
				    	text-decoration: line-through;
				    	color:$grey-light;
				    	font-size:$size-7;
				    	strong{
				    		color:$grey-light;	    		
				    	}
				    } 
				    .valor-de ,.price-best-price {
				        display: inline-block!important;
				        margin:15px 10px;
				    	}
					}
				    .economia-de{
				    	display:none;
				    }
			}
			.link-ancora span#spnRatingProdutoTop::after {
			    content: '— Describe tu opinión';
			    display: none;
			    color: #242424;
			}
			.search-multiple-navigator{
				.refino{
					width:43%;
					margin:5px 10px;
				}
			}
			.bt-refinar{
				width: 90%;
				margin: 0 5%;
			}
			.search-single-navigator{
				h4{
					width: 90%;
					display: block;
					margin: 5px auto;
				}
			}
			.search-single-navigator {
			    padding-bottom: 10px;
			}
			.category-filter {
				box-shadow:$shadow-global;
				.orderBy:nth-of-type(1) {
							    float: none;
							    width: 90%;
							    margin: 5px 5%;
							    label{
							    	font-size:$size-7;
							    }
							    select{
							    	width: 100%;
							    }
							}
			}
			fieldset.refino.Filtros.Skus.shadow {
					width: 100%;
					display: inline-block;
					margin: 10px 0;
			}
			.btn-refinar {
			    margin: 0 10px;
			    width: 100%;
			    font-size: $size-7;
			}
			//propuesta de valor
			.seal-home {
				display:inline-block!important;
				width:100%;
				margin:10px 0!important;
				padding:0!important;
				>.column {
				    padding: 0;
				    margin:0!important;
				    width:100%!important;
				}
				.level{
					.level-item{
								display: inline-block;
								width: 20%;
								margin: 0 6%;	
					}
				}
			}
		.large-margin-top, .large-margin-bottom {
    		margin-top: .5rem!important;
			}	
			// modal edit profile
			    #editar-perfil-conteudo,#form-address,#exclude{
			    	width:100%!important;
			    	}
}//.mediaquery
@media screen and (min-width: 1384px){
	.container {
	    max-width: 1200px!important;
	    width: 1200px!important;
	}
}
