@media screen and (max-width: $tablet) {
	.title{
		font-size: $size-5!important;
	}
	.nav-logo{
		display:none;
	}
	.mega{
		display:none;
		padding: 15px 0;
		position:fixed!important;
		width:100%;
		&-menu{
			display: inline-block;
			.column{
				padding:0!important;
				width:100vw;
			}
		}
	}
	.vertical{
		position:initial;
		padding-left: 15px;
		padding-right: 15px;
		border-left: 0px;
		transition:$fast-time-ease-out;
		margin-top:0!important;
		
		&:hover{
			border-left: 0px!important;
			.vertical-item{

				a{
					color:$black;
					width:auto;
					}
				}	
			}

		&-item{
			transition:$short-time-ease-out;
			a{
				@include horzontal-text;
				padding-bottom:0px;
				width:auto;
				position:relative;
				left:0;
			}
			&::after{
				content: '+';
				font-size: 1.5rem;
				line-height: 0;
				color: $white;
				position: absolute;
				right: 30px;
				padding: 15px;
				border: 1px solid $white;
				margin: 5px 0 5px 5px;
				border-radius:5px;
				}
			&:hover{
				&::after{
					background: rgba($white,$alpha)
					}
				}
		}
		li{
			border-bottom: 1px solid $white;
			transition:$fast-time-ease-out;
			&:not(.vertical-item){
				display:none;
				}
			&:hover{
				box-shadow:$shadow-global;
				}
			a{
				color:$white!important;
				width:100%;
				display: inline-block;
				padding:10px 0;
				}
			}
	}
	.outset-border-red {
	    outline:0;
	    outline-offset:0;
	}
	footer{
		.icon-brand{
			max-width:90%;
			box-shadow:$shadow-global;
			margin:0 auto;
			cursor:pointer;
			border-radius: 290486px;
			&::before, &::after{
				display:none;
			}
		}
	}
		.color-full{
				padding:0;
			.round-button {
				width:100%;
				&-circle {
					width: 100%;
					height:initial!important;
					padding-bottom:0!important;
					border-radius: 0!important;
					padding-top: 5px;
					overflow:hidden;
					background:$white;
					position: initial!important;
					&:hover{
						border-color: $white;
						a{
							color:$white;
						}
					}
				}
				a {
					display: inline-block;
					width: 100%;
					padding-top:5px!important;
					padding-bottom:5px!important;
					text-align: center;
					margin-top:0!important;
					position: initial!important;
					left: 0;
					font-weight: $weight-bold;
					line-height: 1;
					-webkit-transform: $translate-null;
				}
			}
		}//.round-button-circle
		.toggle-age{
			display:none;
			padding: 15px;
		}
		// newsletter-footer
		.newsletter{
			&-footer{
				position:relative;
				&::before{
					content:url('/arquivos/monkey-market-jugueteria-icon-newsletter.png');
					position:absolute;
					left:3%;
					top:-63px;
					max-width:5%;
				}
			}
		}
		// newsletter cloud
		.white{
			&-cloud{
				max-width: 70%;
				margin-left: 30%;
				font-size: 80%!important;
				-webkit-transform: translate(0,0)!important;
				-ms-transform: translate(0,0)!important;
				-o-transform: translate(0,0)!important;
				transform: translate(0,0)!important;
				.title{
					font-size: 1.2rem;
				}
			}
		}
		.social{
			&-circle{
				text-align:center;
			}
		}
		ul.inline-block{
			width: 100%;
			text-align: center;
			padding: 15px;
		}
		.vtex-seal{
			display: inline-block;
			width: 100%;
			float: none;
			text-align: center;
			a{
				width: 100%;
				text-align: center;
				display: inline-block;
				img{
					margin:0 auto;
					float:none;
				}
			}
		}
		// Vtex class for tags
		.newsletter {

			.newsletter-title,h3 {
			    display: none;
			}
			.newsletter-client-name,
			.newsletter-client-email{
				border-top: 0;
				border-bottom:0;
				border-left: 0;
				border-right: 0;
				background: none;
				width: 96vw;
				margin:2px 2vw;
				padding: 10px;
				background:$white
				;
			}
			.newsletter-button-ok {
		    background: $yellow;
		    border: 0;
		    width: 96vw;
		    margin:2px 2vw;
		    padding: 10px;
		    border-radius: 290486px;
			}
		}
		// title category & department
		.titulo-sessao{
			background:$blue;
			padding: 20px;
			text-align: center;
			-webkit-box-shadow: $shadow-global;
			box-shadow: $shadow-global;

		}
		.catagory-shelf,.department-shelf {
			h2{
				    text-align: center;
				   	font-family: inherit!important;
				    font-weight: bold;
				    font-size: 1.5rem!important;
				    padding: 0 15px;
				    line-height: 1.2;
				  }
			ul {
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				max-width: 100%!important;
				li {
				   width: 47%;
				   min-width:47%;
				   border-radius: 0px 0px 30px 30px;
				   margin: 10px 0;
				   .product-image{
				   	  display: block;
		    			width: 100%;
				   }

					span.fast-view,.sku-id,.buy-async {
					    display: none;
					}
					.add-to-cart-async {
						position:relative;
						.wrapper-buy-button-asynchronous {
							position: initial!important;
							display: inline-block;
							width: 100%;
							a{
								background: url(/arquivos/monkey-market-tienda-icono-01.png) no-repeat center center;
								background-size: cover;
								height: 40px;
								width: 40px;
								left: 0;
								right: 0;
								top: -10vw;
								margin: 0 auto;
								border-radius: 0;
								color:rgba($white,0);
								position: absolute;
							}
						}
					}
					&:hover{
						background:$yellow;
						border-color:$yellow;
						box-shadow:$shadow-global;
						span.buy-async {
							border:1px solid $yellow;
							a{
								color:$black;
							}
						}
						.add-to-cart-async{
							transition:$medium-time-ease-out;
							.wrapper-buy-button-asynchronous{
								a{
							 		&::after{
							 		display:none;
							 	}
							  }		    		
							}

						}
					}
					.product-name {
								 height: 10vw;
								 text-align: center;
								 white-space: normal!important;
								 overflow: inherit!important;
								 padding: 0;
					}
						.best-price {
						    font-size: .9rem!important;
						    font-weight: 400!important;
					}
				}
			}
			ul:last-child{
				li{
				}
			}
		}
		.horizontal-lista,{
				ul {
					li {
					   max-width: 100vw!important;
							 }
					 }
					}
					//producto
			.produto {
				.image-zoom-product {
				    max-width: 95%;
				    margin: 0 auto;
				}
				.name-product .productName {
									text-align:center;
							    font-family: inherit;
							    font-weight: bold;
							    font-size: 1.5rem;
							    padding: 0 15px;
							}
				.image-zoom-product{
					ul.thumbs{
						 li {
								max-width: 40px;
						}
					}
				}
				.data-sheet{
					position:initial;
					max-width: 100vw;
					.data-sheet-content{
						.avaliacoes{
							width:50%;
							display:inline-block;
							float: right;
							text-align:right;
							padding-right: 0;
							a{
								strong{
									display:none;
								}
							}
						}
						.cod{
							width:50%;
							display:inline-block;
							float: left;
							text-align: left;
						}
						.short-description{
							display:none;
						}
						.add-button{
							position:fixed;
							bottom: 0;
							left: 0;
							width:100vw;
							z-index:$z-index-9;
							margin: 0 auto;
							background:0;
							box-shadow:none;
							.column{
								padding:0;
							}
							a{
								width:100%;
								border-radius: 5px;
								border: 0;
								color: $white;
							}
						}
						.seals-mm{
							>.column {
							    padding: 0;
							}
							.level{
								.level-item{
									display: inline-block;
									width: 20%;
									margin: 0 6%;
								}
							}
						}
						.description-product {
						    position: initial;
						    max-width: 100vw;
						}
					}
				}
			}
			.social-icon {
			    width: 100%;
			    position: initial;
			    display: inline-block;
			    text-align:center;
			  	border-radius:0;
			  	margin-top:10px;
			     a.icon {
			        display: inline-block;
			        text-align: center;
			        margin: 0 5px;
			        i{
			        	padding:0;
			        	text-align:center;
			        }
			    }
			}
			.gift-list-btn{
				 a {
					    position: initial;
					    width: 100%;
					    writing-mode: inherit;
					    transform: rotate(0deg);
					    text-align: center;
					    width: 60%;
					    padding: 2px 0;
					    margin: 0 auto;
					    border-radius:290486px;
					    &::before {
					    		margin-right: 5px;
					        margin-bottom: 0px;
					        transform: rotate(0deg);
					        vertical-align: middle;
					    }
					}
			}
			.specification-section{
				display:inline-block;
				padding:15px 0;
				background:$white;
				margin-bottom:15px;
				.column{
					padding:0;
				}
				.specification-product {
				    max-width: 90%;
				    margin: 0 auto;
				    transition:$fast-time-ease-out;
				    // .Especificacion-de-Producto{
				    // 	&:hover {
				    // 		 ~ table.Especificacion-de-Producto {
				    // 				display: initial;
								// }
				    // 	}
				    // }
				    // .Dimensiones-de-Producto{
				    // 	&:hover {
				    // 		 ~ table.Dimensiones-de-Producto {
				    // 				display:initial
								// }
				    // 	}
				    // }
				    // .Detalles-de-Producto{
				    // 	&:hover {
				    // 		 ~ table.Detalles-de-Producto {
				    // 				display:initial
								// }
				    // 	}
				    // }
				    h4{
				    	background:$white;
				    	// border-radius:290486px;
				    	margin:5px auto;
				    }
				    table{
				    	// display:none;
				    }
				}
				.department-shelf {
				    display: none;
				}
			}
			.rates-vtex {
				.rating {
					.avaliacao{
						border-radius:0;
						.rating{
							display:inline-block;
							text-align:initial;
						}
					}
				}
			}
			//precio de producto
			.price-product{
				.valor-por.price-best-price {
				    font-size: $size-5;
				    font-style: initial;
				}
				.descricao-preco {
				    display: inline-block;
				    width: 100%;
				    .valor-de{
				    	text-decoration: line-through;
				    	color:$grey-light;
				    	font-size:$size-7;
				    	strong{
				    		color:$grey-light;	    		
				    	}
				    } 
				    .valor-de ,.price-best-price {
				        display: inline-block!important;
				        margin:15px 10px;
				    	}
					}
				    .economia-de{
				    	display:none;
				    }
			}
			.link-ancora span#spnRatingProdutoTop::after {
			    content: '— Describe tu opinión';
			    display: none;
			    color: #242424;
			}
			.search-multiple-navigator{
				.refino{
					width:43%;
					margin:5px 10px;
				}
			}
			.bt-refinar{
				width: 90%;
				margin: 0 5%;
			}
			.search-single-navigator{
				h4{
					width: 90%;
					display: block;
					margin: 5px auto;
				}
			}
			.search-single-navigator {
			    padding-bottom: 10px;
			}
			.category-filter {
				box-shadow:$shadow-global;
				.orderBy:nth-of-type(1) {
							    float: none;
							    width: 90%;
							    margin: 5px 5%;
							    label{
							    	font-size:$size-7;
							    }
							    select{
							    	width: 100%;
							    }
							}
			}
			fieldset.refino.Filtros.Skus.shadow {
					width: 100%;
					display: inline-block;
					margin: 10px 0;
			}
			.btn-refinar {
			    margin: 0 10px;
			    width: 100%;
			    font-size: $size-7;
			}
}//.mediaquery
@media screen and (min-width: 1384px){
	.container {
	    max-width: 1200px!important;
	    width: 1200px!important;
	}
}
