body{
@include family-header;
	a{
		color:$grey-dark;
		transition:$transition-hover-link;
		&:hover{
			color:$grey-darker;
		}
	}	
}
.text-brown{
	@include text-brown;
}
.social{
	&-icon{
		@include color-social;
	}
}
// vtex class
// title search resoult layout
.titulo-sessao{
	padding-left: 3vw;
	color: #363636;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.125;
	word-break: break-word;
	font-family: "Bowlby One SC",cursive;
}