
main{font-family: $font-family;}
.text{
	&-white{color:$white;}
	&-black{color:$black;}
	&-dark{color:$dark;}
	&-center{text-align: center;
		&-m{
			@media #{$medium-up}{
				text-align: center;	
			}
		}
	}
	&-rigth{text-align: right;
		&-m{
			@media #{$medium-up}{
				text-align: right;	
			}
		}
	}
	&-left{text-align: left;
		&-m{
			@media #{$medium-up}{
				text-align: left;	
			}
		}
	}
}
h1{@include font-size($font-size-h1);
	font-weight: $font-bold;
	@media #{$medium-up}{
	@include font-size($font-size-h1 * 2);
	}
}
h2{@include font-size($font-size-h2);
	font-weight: $font-bold;
	@media #{$medium-up}{
	@include font-size($font-size-h2 * 2);
	}
}
h3{@include font-size($font-size-h3);
	font-weight: $font-bold;
	@media #{$medium-up}{
	@include font-size($font-size-h3 * 1.6 );
	}
}
h4{@include font-size($font-size-h4);
	font-weight: $font-bold;
	@media #{$medium-up}{
	@include font-size($font-size-h4 * 1.4);
	}
}
h5{@include font-size($font-size-h5);
	font-weight: $font-bold;
	@media #{$medium-up}{
	@include font-size($font-size-h5 * 1.1);
	}
}
h6{@include font-size($font-size-h6);
	font-weight: $font-bold;}
.font{
	&-light{@include font-weight($font-light);}
	&-regular{@include font-weight($font-regular);}
	&-bold{@include font-weight($font-bold);}
	&-reclame{
		font-family:'reclame';
	}

}
.title-section-ms{
	padding-top: $global-padding;
	padding-bottom: $global-padding;
	margin-top:$global-margin;
	display: flex;
	justify-content: center;
	position: relative;
	span{
		display: flex;
		justify-content: center;
		background: $white;
		padding: 0 $global-padding;
		position: relative;
		line-height: $global-padding * 2;
	}
	a{
		font-size: $global-font * .8;
		line-height: $global-padding * 2;
		justify-content: right;
		color:$graylight;
		@include font-weight ($font-regular);
		position: absolute;
		z-index: 1;
		right: 0;
		background: white;
		padding-left:$global-padding;
		transition:$global-subtransition;
		&:hover{
			color:$gray;
		}
	}
	&::before{
		content: "";
		display:block;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		height: 1px;
		margin: auto;
		background: #d4d4d4;
	}
}