.shadow{
	box-shadow: $shadow-global;
}
//funcion para colores variados en botones
.color-lenght {
@include circle-color;
}

ul.list-inline{
	li{
		display:inline-block;
	}
}
.vertical{
	position:relative;
	padding-left: 12px;
	border-left: 1px solid $white;
	transition:$fast-time-ease-out;
	
	&:hover{
		border-left: 1px solid $black!important;
		.vertical-item{
			a{
				color:$black;
				width:auto!important;
				}
			}	
		}

	&-item{
		transition:$short-time-ease-out;
		a{
			@include vertical-lr;
			position: absolute;
			left: -11px;
			bottom: 0;
			background:$blue;
			padding-bottom:5px;
			width:auto!important;
		}
	}
	li{
		transition:$fast-time-ease-out;

		&:hover{
			box-shadow:$shadow-global;
			}
		a{
			width:100%;
			display: inline-block;

			}
		}
}
.video{
	&-section{
		padding: 15px 0;
	}
// ratio de video 16:9
	&-embed {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.small{
	&-padding{
		&-top{padding-top:$size-7;}
		&-bottom{padding-bottom:$size-7;}
	}
	&-margin{
			&-top{margin-top:$size-7;}
			&-bottom{margin-bottom:$size-7;}
		}
}
.medium{
	&-padding{
		&-top{padding-top:$size-5;}
		&-bottom{padding-bottom:$size-5;}
	}
	&-margin{
			&-top{margin-top:$size-5;}
			&-bottom{margin-bottom:$size-5;}
		}
}
.large{
	&-padding{
		&-top{padding-top:$size-2;}
		&-bottom{padding-bottom:$size-2;}
	}
	&-margin{
			&-top{margin-top:$size-2;}
			&-bottom{margin-bottom:$size-2;}
		}
}
.margin{
	&-null{
		margin:0 auto;
	}
}
.relative{position:relative;}
.hr{
	&-blue{background:$blue;}
	&-red{background:$red;}
	&-yellow{background:$yellow;}
	&-brown{background:$brown;}
	&-grey{background:$grey-dark;}
}
//clase para  toggle-age
.is-desktop-true{
		display:block!important;
		overflow: initial!important;
}
.icon-logo-footer{
	position:relative;
	 &::after{
		content:url('/arquivos/monkey-market-juguetes-logo-footer.png');
		position:absolute;
		display: block;
		left:0;
		right:0;
		margin: 0 auto;
		bottom: -49px;
		z-index:1;
	 }
}
.right-line{
	background:$bg-global-body;
	padding-right:5px;
	color:$brown;
	font-weight:$weight-bold!important;
	&::after {
	    content: '';
	    width: 30vw;
	    border-bottom: 2px solid $brown;
	    padding-right: 2px;
	    position: absolute;
	    margin-top: -8px;
	    z-index: -1;
	}
}