$middle-padding-radio:		40%;
//transitons custom
$fast-time-ease-out:		all 100ms $easing;
$short-time-ease-out:		all 600ms $easing;
$medium-time-ease-out:		all 900ms $easing;
$long-time-ease-out:		all 1s $easing;
$fast-time-ease-in:			all 100ms ease-in;
$short-time-ease-in:		all 600ms ease-in;
$medium-time-ease-in:		all 900ms ease-in;
$long-time-ease-in:			all 1s ease-in;
$fast-time-linear:			all 100ms ease-linear;
$short-time-linear:			all 600ms ease-linear;
$medium-time-linear:		all 900ms ease-linear;
$long-time-linear:			all 1s ease-linear;
$fast-time-ease:			all 100ms ease;
$short-time-ease:			all 600ms ease;
$medium-time-ease:			all 900ms ease;
$long-time-ease:			all 1.5s ease;
$transition-hover-link:		none 86ms $easing;
//translate
$translate-animation-y:		translatey(-.5vw);
$translate-animation-x:		translatex(-.5vw);
$translate-animation-down:	translate(1vw, 2vw);
$translate-animation-y:		translatey(-.5vw);
$translate-null:			translate(0, 0)!important;
//capas
$z-index-1:			1;
$z-index-2:			2;
$z-index-3:			3;
$z-index-4:			4;
$z-index-5:			5;
$z-index-6:			6;
$z-index-7:			7;
$z-index-8:			8;
$z-index-9:			9;