// vtex settings template
// alpha chanel
$alpha:			.2;

// Colors

$black:        hsl(0, 0%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white-ter:    hsl(0, 0%, 96%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default

$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(46,  100%, 56%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$blue:         hsl(188, 95%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(346, 100%, 41%) !default
$bg:		   hsl(220, 14%, 96%) !default
$bg-global-body:$bg;
$tomato	:#ef5050;		


// Typography

$family-sans-serif: 'Roboto', sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default
$family-headers: 'Bowlby One SC', cursive;

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-semibold: 500 !default
$weight-bold: 700 !default

// Body

$body-background: $bg-global-body !default
$body-size: 14px !default

// Responsiveness

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 40px
$desktop: 1000px !default
// 1152px container + 40
$widescreen: 1192px !default
// 1344px container + 40
$fullhd: 1384px !default

// Miscellaneous

$easing: ease-out !default
$radius-small: 2px !default
$radius: 3px !default
$radius-large: 5px !default
$speed: 86ms !default

// custom
// 2. Set your own initial variables
$blue-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $blue-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-sans-serif;
//custom variables
$brown:		   hsl(24,  61%,  19%) !default
$shadow: lighten($black, 56.7%);
$shadow--ligth: rgba($black, $alpha);
$shadow-global:.12vw .12vw .21vw $shadow--ligth;
$shadow-transition:		1vw 1vw 1vw $shadow;
$alpha-image-shadow:	.12vw .12vw .12vw $grey-light;
//chart color for function on _containers.scss,_mixin.scss for footer buttons
$chartColors: $brown,$brown, $yellow, $yellow,$blue, $blue, $red, $red;
// Social Colors
$facebook:						#3b5998;
$twitter:							#55acee;
$googleplus:					#dd4b39;
$youtube:							#bb0000;
$linkedin:						#007bb5;
$whatsapp:						#4dc247;
$instagram-blue:			#125688;
$instagram-yellow:		#e95950;
$instagram-brown:			$brown;
//chart color for function on _mixin.scss for footer buttons
$chartColors-social: $whatsapp,$instagram-brown, $googleplus, $twitter,$facebook;
